$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$grid-columns:                24 !default;
$grid-gutter-width:           32px !default;
$grid-row-columns:            12 !default;

@import "./scss/mixins";
@import "./scss/grid";
@import "./scss/sizes";
@import "./scss/borders";
@import "./scss/shadows";
@import "./scss/colors";
@import "./scss/typography";
@import "./scss/content";
@import "./scss/forms";
@import "./scss/icons";
